@charset "UTF-8";

/*@media screen and (min-width: 768px) and (max-width: 992px)*/

@media screen and (max-height: 898px) and (max-width: 415px) and (min-height: 668px) and (min-width: 376px){
    main{
        height: 897px;
        width: 414px;
    }
    .div-imagem{
        width: 414px;
        top: 80%;
    }
    menu{
        width: 414px;
        height: 600px;

        top: 57%;
    }
}