@charset "UTF-8";
:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
  }
*{
    padding: 0px;
    margin: 0px;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, #291d44,#000);
}
main{
    background-color: #000000;
    width: 420px;
    height: 575px;
    background-image: url(../assets/blur-mobile.png);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
nav{
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 420px;
    height: 50px;
    border-bottom: 2px solid #A8A8B3;
}
.hamburger{
    position: absolute;
    top: 25%;
    left: 93%;
    transform: translate(-50%, -50%);
}

