@charset "UTF-8";
:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
  }
*{
    padding: 0px;
    margin: 0px;
}
main{
    background-color: #1110005b;
    width: 420px;
    height: 670px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}